html {
  background: #F6F2D4;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-family: 'Terraria';
}

@font-face {
  font-family: 'Final Fantasy';
  src: url('/public/font/Final-Fantasy.ttf') format('opentype');
}

@font-face {
  font-family: 'DeluxePaint Comic';
  src: url('/public/font/dpcomic.ttf') format('opentype');
}

@font-face {
  font-family: 'Terraria';
  src: url('/public/font/terraria.ttf') format('opentype');
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}

.info-container {
  background-color: #5584AC;
  display: flex;
  justify-content: center;
  border: 10px ridge lightgray;
  padding: 1em;
  height: 20px;
}