html {
  background-color: lightblue;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}

.info-container {
  background-color: blue;
  display: flex;
  justify-content: center;
  border: 0.25rem solid black;
  border-radius: 2em;
  padding: 1em;
}

.grid-container {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 2em;
  padding: 1%;
}

.turn-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.2em solid black;
  border-radius: 2em;
  padding: 1em;
}

.grid-left {
  display: grid;
  gap: 1rem;
  background: red;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  grid-template-columns: repeat(3, 1fr);
}

.grid-right {
  display: grid;
  gap: 1rem;
  background: green;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  grid-template-columns: repeat(3, 1fr);
}

/* Element inside each grid */
.panel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

.menu-container {
  background-color: blue;
  border: 0.25em solid black;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  padding: 1em;
}