.grid-container {
  background-color: #95D1CC;
  display: flex;
  justify-content: space-between;
  border: 15px ridge lightgray;
  padding: 1em;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.turn-container {
  background-color: #5584AC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px ridge lightgray;
  padding: 1em;
}

.grid {
  display: grid;
  gap: 0.2rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  width: 40%;
}

.grid__panel {
  border: 3px solid black;
  border-radius: 10px;
  padding: 1em;
  background-color: #22577E;
}

.grid__panel.selection:hover {
  border-color: yellow;
}
.grid__panel.selection {
  cursor: pointer;
}